* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background-color: antiquewhite;
}

h1 {
  font-weight: bold;
}

.container {
  padding: 0px 40px;
}

.container form {
  margin-bottom: 25px;
  padding: 15px;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  background-color: rgb(45, 61, 82);
  color: white;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  font-size: 16px;
}

input[type='submit'] {
  font-size: 16px;
  border-radius: 3px;
  padding: 10px;
  background-color: #e4f1fe;
  border: 1px solid grey;
  box-shadow: 0px 0px 10px white;
  cursor: pointer;
  border: none;
}

input[type='submit']:hover {
  background-color: #fffec4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #fffec4;
  color: black;
  padding: 2px;
}
